<!DOCTYPE html>
<html lang="en">
  <head>
    {% if title %}
    <title>{{title}} - flask</title>
    {% else %}
    <title>flask test</title>
    {% endif %}
    <link href="/static/css/navbar.css" rel="stylesheet">
    <link href="/static/css/background.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/footer.css" rel="stylesheet">
    <link href="/static/css/normalize.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div id="particles-js"></div>

    <nav id="nav-container" class="nav-container">
    <ul id="nav-menu">
      <li>
        <a href="#">index</a>
        <ul>
          <li><a href="/index">index</a></li>
          {% if g.user.is_authenticated %}
          <li><a href="{{ url_for('user', username = g.user.username) }}">Your Profile</a></li>
          {% endif %}
        </ul>
      </li>
      <li>
        <a href="#">playground</a>
        <ul>
          <li><a href="/playground">playground</a></li>
          {% if g.user.is_authenticated %}
          <li><a href="/score2gift">lottery</a></li>
          {% endif %}
        </ul>
      </li>
      {% if g.user.is_authenticated %}
      <li>
        <a href="#">ff</a>
        <ul>
          <li>
            <a href="#">Lorem ipsum dolor</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Contact Me</a>
        <ul>
          <li>
            <a href="#">Lorem ipsum dolor</a>
          </li>
        </ul>
      </li>
      {% endif %}
      <li id="User" class="User">
        <a href="#">User</a>
        <ul>
          {% if not g.user.is_authenticated %}
          <li>
            <a href="/login">Register</a>
          </li>
          <li>
            <a href="/login">Login</a>
          </li>
          {% endif %}
          {% if g.user.is_authenticated %}
          <li>
            <a href="/logout">logout</a>
          </li>
          {% endif %}
        </ul>
      </li>
    </ul>
    </nav>

    {% if title == 'login' %}
    <div id="login">
    {% else %}
    <div id="main" class="main">
    {% endif %}
      {% block content %}{% endblock %}
    </div>
    

    <!-- <footer id="footer-container">
      <ul id="footer-menu"></ul>
    </footer> -->
  </body>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/particles.js"></script>
  <script src="/static/js/background.js" type="text/javascript"></script>

</html>
